<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomyGo</title>
</head>
<body>
    <h1>All listing</h1>
    <ul>
    <% for(listing of allistings){ %>
      <li><a href="/listing/<%= listing._id %>"><%= listing.title %></a></li>
    <% } %>
    </ul>
</body>
</html>
